html {
    font-size: 10px;
    color: #333;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 30px 5%;
    position: relative;
    background-color: white;
}

a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.4rem;

}

:root {
    --primary-color: #2C416E;
    --secondary-color: #FFBD00;
}

header .full-logo {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

header .full-logo > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

header .full-logo img {
    width: 32px;
    -o-object-fit: contain;
    font-family: "object-fit:contain";
    object-fit: contain;
}

header .full-logo-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 15px;
}

header .full-logo-title .title {
    font-family: "Playfair Display", sans-serif;
    color: #0B163B;
}

header .full-logo-title .subtitle {
    font-size: .9rem;
    font-weight: 500;
    color: #0B163B;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    line-height: 10px;
}

.titlePage{
    padding: 50px 5%;
    background-color: #F4F4F4;
    p{
    color: var(--primary-color);
    font-size: 45px;
    font-weight: 300;
    line-height: 1;
    };
}

.promo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 5%;
    padding: 50px 0; 
    background-color: white;
}

.eleve{
    box-shadow: 0 0 10px 0 rgba(87, 87, 87, 0.2);
    border-radius: 8px;
    padding: 20px;
    margin: 10px auto;
    width: 280px;
    height: 195px;
    text-align: center;
}

.eleve img{
    width: 260px;
    height: 145px;
    text-align: center;
    object-fit: cover;
}

@media screen and (max-width:1500px) {
    .promo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 5%;
        padding: 50px 0; 
        background-color: white;
    }
    
}

@media screen and (max-width:1120px) {
    .promo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 5%;
        padding: 50px 0; 
        background-color: white;
    }
    
}

@media screen and (max-width:750px) {
    .promo{
        grid-template-columns: 1fr;
    }
    .eleve{
        box-shadow: 0 0 10px 0 rgba(87, 87, 87, 0.2);
        border-radius: 8px;
        padding: 20px;
        margin: 10px auto;
        width: 340px;
        height: 195px;
        text-align: center;
    }
    .eleve img{
        width: 320px;
        height: 145px;
        text-align: center;
    }
    
}

footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #F3F3F3
}

footer .footer-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 50px 5% 0
}

@media (max-width: 767px) {
    footer .footer-content {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

footer .footer-content .information {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 25%;
    padding-right: 30px;
    min-width: 250px
}

@media (max-width: 767px) {
    footer .footer-content .information {
        margin:auto 0 30px 30px;
        padding-right: 0
    }
}

footer .footer-content .information p {
    color: #575757 !important;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 18px;
    margin: 0
}

footer .footer-content .information p a {
    color: #575757 !important;
    text-decoration: none
}

footer .footer-content .full-logo {
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px
}

@media (max-width: 767px) {
    footer .footer-content .full-logo {
        margin:0 auto 20px 0
    }
}

footer .footer-content .full-logo>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

footer .footer-content .full-logo img {
    width: 32px;
    -o-object-fit: contain;
    font-family: "object-fit:contain";
    object-fit: contain
}

footer .footer-content .full-logo-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 15px
}

footer .footer-content .full-logo-title .title {
    font-family: "Playfair Display",sans-serif;
    color: #0B163B
}

footer .footer-content .full-logo-title .subtitle {
    font-size: .9rem;
    font-weight: 500;
    color: #0B163B;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    line-height: 10px
}

footer .footer-content>.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 70%;
    margin: 0
}

@media (max-width: 767px) {
    footer .footer-content>.menu {
        width:100%;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}

footer .footer-content>.menu .menu-item--expanded {
    width: calc(100% / 3);
    padding-right: 30px;
    list-style: none;
    min-width: 200px;
    margin-bottom: 30px
}

@media (max-width: 767px) {
    footer .footer-content>.menu .menu-item--expanded {
        padding:0 30px;
        width: auto;
        min-width: auto
    }
}

footer .footer-content>.menu .menu-item--expanded>a,footer .footer-content>.menu .menu-item--expanded>span {
    color: #0B163B;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase
}

footer .footer-content>.menu .menu-item--expanded>a:hover {
    text-shadow: 0 0 0.5px #0B163B
}

footer .footer-content>.menu .menu-item--expanded>.menu {
    margin: 15px 0 0
}

footer .footer-content>.menu .menu-item--expanded>.menu .menu-item {
    padding: 0
}

footer .footer-content>.menu .menu-item--expanded>.menu .menu-item a {
    color: #575757;
    font-size: 1.4rem;
    line-height: 27px;
    text-decoration: none
}

footer .footer-content>.menu .menu-item--expanded>.menu .menu-item a:hover {
    text-shadow: 0 0 0.5px #575757
}

footer .footer-banner {
    margin: 0 5%
}

@media (max-width: 767px) {
    footer .footer-banner {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 5% 20px
    }
}

footer .footer-banner .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media (max-width: 767px) {
    footer .footer-banner .menu {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0;
        padding: 0 30px
    }
}

footer .footer-banner .menu li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-width: 768px) {
    footer .footer-banner .menu li:not(:last-child):after {
        content:'|';
        margin: 0 10px
    }
}

footer .footer-banner .menu li a {
    color: #575757;
    font-size: 1.4rem;
    line-height: 27px;
    text-decoration: none;
    font-weight: 700
}

footer .footer-banner .menu li a:hover {
    text-shadow: 0 0 0.5px #575757
}



